.social {
  ul {
    li {
      text-align: center;
      padding: 10px;
      background-color: #445896;
      border-radius: 50%;
      transition: all 0.3s;
      &:first-child:hover {
        @apply bg-blue-700;
      }
      &:nth-child(2):hover {
        @apply bg-blue-400;
      }
      &:nth-child(3):hover {
        @apply bg-red-600;
      }
    }
  }
}
