.banner__container {
    padding: 250px 0 316px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0, 18, 50, 0.8);
        z-index: 2;
    }
    .banner__bg {
        background-image: url("https://pixner.net/boleto/demo/assets/images/banner/banner01.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: absolute;
        inset: 0;
        opacity: 0.8;
        background-attachment: fixed;
        // z-index: 99;
    }
    .banner__content {
        position: relative;
        margin: 0 auto;
        text-align: center;
        max-width: 840px;
        color: white;
        z-index: 3;
        h1 {
            font-size: 4.4rem;
            font-weight: 800;
            text-transform: uppercase;
            margin-bottom: 18px;
            line-height: 1.1;
        }
    }
}

// Responsive
// max-width: 990px
@media only screen and (max-width: 991px) {
    .banner__container {
        .banner__content {
            h1 {
                font-size: 4rem;
                line-height: 1.3;
                margin-bottom: 20px;
            }
        }
    }
}
// max-width: 767px
@media only screen and (max-width: 767px) {
    .banner__container {
        .banner__content {
            h1 {
                font-size: 3rem;
            }
            p {
                font-size: 1.2rem;
            }
        }
    }
}
// max-width: 575px
@media only screen and (max-width: 575px) {
    .banner__container {
        .banner__content {
            h1 {
                font-size: 2.5rem;
            }
            p {
                font-size: 1rem;
            }
        }
    }
}
