$primary-color: #3498db;
$secondary-color: #31d7a9;
$bg-color: linear-gradient(-90deg, rgba(0, 18, 50, 0.134891) 0%, #001232 100%);
$icon-color: #31d7a9;
$text-color: #ffffff;
$label-color: #dbe2fb;
// $background-img: linear-gradient(0deg, #0f5ae0 0%, #7400ba 100%);

// semantic colors